<div class="c-combined-field">
    <div class="c-combined-field__field">
        {{# symbol }}
        <label for="{{ id1 }}">{{ symbol }}</label>
        {{/ symbol }}
        <input id="{{ id1 }}" type="{{ type }}" placeholder="{{ label1 }}" value="{{ value1 }}" />
        <span role="status" aria-live="polite" class="is-vishidden"></span>
    </div>
    <div class="c-combined-field__separator">-</div>
    <div class="c-combined-field__field">
        {{# symbol }}
            <label for="{{ id2 }}">{{ symbol }}</label>
        {{/ symbol }}
        <input id="{{ id2 }}" type="{{ type }}" placeholder="{{ label2 }}" value="{{ value2 }}" />
        <span role="status" aria-live="polite" class="is-vishidden"></span>
    </div>

</div><!--end c-field-->
