<div class="c-combined-field {{ className }}">
    <div class="c-combined-field__field">
        {{# symbol }}
        <label for="{{ id1 }}">{{ symbol }}</label>
        {{/ symbol }}
        <select id="{{ id1 }}">
            <optgroup label="{{ label1 }}">
                {{#options }}
                    <option>{{.}}</option>
                {{/options }}
            </optgroup>
        </select>
        <span role="status" aria-live="polite" class="is-vishidden"></span>
        {{# fieldNote }}
            <span class="c-field__note">{{{ fieldNote }}}</span>
        {{/ fieldNote }}
    </div>
    <div class="c-combined-field__separator">to</div>
    <div class="c-combined-field__field">
        {{# symbol }}
            <label for="{{ id2 }}">{{ symbol }}</label>
        {{/ symbol }}
        <select id="{{ id2 }}">
            <optgroup label="{{ label2 }}">
                {{#options }}
                    <option>{{.}}</option>
                {{/options }}
            </optgroup>
        </select>
        <span role="status" aria-live="polite" class="is-vishidden"></span>
        {{# fieldNote }}
            <span class="c-field__note">{{{ fieldNote }}}</span>
        {{/ fieldNote }}
    </div>

</div><!--end c-field-->
