<div class="c-combined-field">
    <div class="c-combined-field__field">
        <label for="{{ id1 }}">£</label>
        <input id="{{ id1 }}" type="{{ type }}" placeholder="{{ label1 }}" value="{{ value1 }}" />
        <span role="status" aria-live="polite" class="hidden-accessible"></span>
    </div>
    <div class="c-combined-field__separator">-</div>
    <div class="c-combined-field__field">
        <label for="{{ id2 }}">£</label>
        <input id="{{ id2 }}" type="{{ type }}" placeholder="{{ label2 }}" value="{{ value2 }}" />
        <span role="status" aria-live="polite" class="hidden-accessible"></span>
    </div>

</div><!--end c-field-->
