{{# field }}
<div class="c-field">
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ label }}" value="{{ value }}" />
    <span role="status" aria-live="polite" class="hidden-accessible"></span>
	{{# fieldNote }}
		<span class="c-field__note">{{{ fieldNote }}}</span>
	{{/ fieldNote }}

</div><!--end c-field-->
{{/ field }}
