<div class="c-block-hero">
    {{> organisms-slider:slider--hero(sliderId: "HeroSlider") }}

    <div class="c-block-hero__find-property">{{> organisms-find-property-form }}</div>

</div><!-- end c-block--hero-->



