<div id="{{ sliderId }}" class="slider  {{ styleModifier }}">
    <div data-u="slider__loading">
        <div class="slider__mask"></div>
        <div class="slider__spinner" style="background:url('<?php echo get_stylesheet_directory_uri() . '/viscore/custom/jssor/img/loading.gif' ?>') no-repeat center center;"></div>
    </div>
    <div data-u="slides" class="slider__slides">

        <div data-p="144.50" style="display:none;">
            <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-artylowreslivingroomusethisone.jpg">
            <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-artylowreslivingroomusethisone.jpg">
        </div>

        <div data-p="144.50" style="display:none;">
            <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Artylowres5.jpg">
            <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Artylowres5.jpg">
        </div>

        <div data-p="144.50" style="display:none;">
            <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Masterbedroomlowres.jpg">
            <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Masterbedroomlowres.jpg">
        </div>

    </div>
    <div data-u="thumbnavigator" class="slider__thumbnails" data-autocenter="1">
        <div data-u="slides" style="cursor: default;">
            <div data-u="prototype" class="p">
                <div class="w">
                    <div data-u="thumbnailtemplate" class="t"></div>
                </div>
                <div class="c"></div>
            </div>
        </div>
    </div>
    <div id="SliderArrowsContainer">
        <span data-u="arrowleft" class="slider__arrow  slider__arrow--left"><</span>
        <span data-u="arrowright" class="slider__arrow  slider__arrow--right">></span>
    </div>
</div>