<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgba(144,6,3,1);"></span>
		<span class="sg-label">
			$color-primary <br />
			rgba(55,146,146, 1)
		</span>
	</li>
    <li>
        <span class="sg-swatch" style="background: rgba(144,6,3,0.5);"></span>
		<span class="sg-label">
			$color-primary-dim-50 <br />
			rgba(55,146,146,0.5)
		</span>
    </li>
</ul>
