<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #900603;"></span>
		<span class="sg-label">
			$color-brand <br />
			#900603
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b4a20;"></span>
		<span class="sg-label">
			$color-brand-green-dark <br />
			#3b4a20
		</span>
	</li>
</ul>
