<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgba(144,6,3,1);"></span>
		<span class="sg-label">
			$color-primary <br />
			rgba(144,6,3,1)
		</span>
	</li>
    <li>
        <span class="sg-swatch" style="background: rgba(144,6,3,0.5);"></span>
		<span class="sg-label">
			$color-primary-dim-50 <br />
			rgba(144,6,3,0.5)
		</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #DB4437;"></span>
		<span class="sg-label">
			$color-secondary <br />
			#3b4a20
		</span>
	</li>
</ul>
