{{> organisms-header }}
<main role="main">

	{{# hero }}
		{{> organisms-slider-hero }}
	{{/ hero}}

    {{> organisms-page-header }}

    <div class="l">
        {{> organisms-text-blob }}
    </div>

    {{> organisms-section-valuation }}

	<div class="l">
		{{> organisms-tout-list }}
	</div>

    {{> organisms-featured-property }}

    <div class="l l--two-col  l--after-float">
        <div class="l-main">
            {{# testimonials }}
                {{> organisms-section-media-list }}
            {{/ testimonials }}
        </div><!--end .l-main-->

        <div class="l-sidebar">
            {{# featuredPeople }}
                {{> organisms-section-media-list }}
            {{/ featuredPeople }}
        </div><!--end .l-sidebar-->

    </div><!--end l--two-col-->

    <div class="l">
        {{> organisms-affiliated }}
    </div>

    {{# subscribe }}
        {{> organisms-subscribe }}
    {{/ subscribe }}

    {{> organisms-footer }}
</main>
