{{> organisms-header }}
<main role="main" class="main">

    {{> organisms-subscribe }}

    {{> organisms-page-header }}

    <div class="l">
        {{> organisms-text-blob }}
    </div>

	<div class="l l--two-col">
		<div class="l-main">
			{{# latestPosts }}
			{{> organisms-blog-index-list }}
			{{/ latestPosts }}
		</div><!--end .l-main-->

		<div class="l-sidebar">
            <section class="c-section">
                {{> molecules-social-media }}
            </section>

            <section class="c-section">
                <p>{{ blogSectionLinks.titleText }}</p>
                <ul>
                    {{# blogSectionLinks.linkButtons }}
                    <li>
                        {{> molecules-block-blog-link }}
                    </li>
                    {{/ blogSectionLinks.linkButtons }}
                </ul>
            </section>
			{{# popularPosts }}
                {{> organisms-section-popular-posts }}
			{{/ popularPosts }}
		</div><!--end .l-sidebar-->
	</div><!--end .l-two-col-->
    {{> organisms-footer }}
</main>
