{{> organisms-header }}
<main role="main">

    {{> molecules-blog-detail }}

	<div class="l l--two-col">
		<div class="l-main">

            <section>
                {{> organisms-text-blob }}
            </section>

            {{# featuredPosts }}
                <section>
                    {{> organisms-section-media-list }}
                </section>
            {{/ featuredPosts }}

			{{# blogComments }}
                <section>
                    {{> organisms-blog-comment-list }}
                </section>
			{{/ blogComments }}
		</div><!--end .l-main-->

		<div class="l-sidebar">

            <section class="c-section">
                {{> molecules-agent }}
            </section>

            <section class="c-section">
                {{> molecules-social-media }}
            </section>

            <section class="c-section">
                <p>{{ blogSectionLinks.titleText }}</p>
                <ul>
                    {{# blogSectionLinks.linkButtons }}
                    <li>
                        {{> molecules-block-blog-link }}
                    </li>
                    {{/ blogSectionLinks.linkButtons }}
                </ul>
            </section>
		</div><!--end .l-sidebar-->
	</div><!--end .l-two-col-->
    {{> organisms-footer }}
</main>
