{{> organisms-header }}
<main role="main">

    {{> organisms-find-property-form:c-form--listing-search }}

    <div id="PropertyListMap" class="map  map--property-listing"></div>

    {{> organisms-featured-property }}

    <div class="l  l--after-float">
        {{> organisms-title-pagination }}
    </div>

    <div class="l">
        {{> organisms-property-list }}
    </div>

    <div class="l  l--align-center">
        {{> molecules-pagination }}
    </div>

    {{> organisms-footer }}
</main>
