{{> organisms-header:header--relative }}
<main role="main" class="main  main--relative">

    {{> organisms-filter-form:c-form--listing-search }}

    {{> organisms-selected-property }}

    {{> organisms-property-further-info }}

    <div class="l">
        <h2>Similar Properties</h2>
        {{> organisms-property-list }}
    </div>

    <div>
        {{> organisms-filter-form:c-form--listing-search }}
    </div>

    {{> organisms-footer }}
</main>
