/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Main content area
 */
[role=main] {
  flex: 1;
  padding-top: 136px;

  @media all and (max-width: $bp-large) {
    padding-top: 98px;
  }
}
