<header class="header" role="banner">

    <div class="header__contact-info">
        <div class="header__phone-info">
            <a href="tel:{{ telephone }}">
                <span class="fa  fa-lg  fa-mobile"></span>
                <span class="header__contact-text">{{ headerContactInfo }}</span>
            </a>
        </div>
        <div class="header__email-info">
            <a href="mailto:{{ emailAddress }}" title="Email">
                <span class="fa  fa-envelope"></span>
                <span class="header__contact-text">{{ headerEmailInfo }}</span>
            </a>
        </div>
        <div class="header__contact-icons">
            <a href="#" title="Facebook"><span class="header__contact-icon  fa  fa-facebook"></span></a>
            <a href="#" title="Google"><span class="header__contact-icon  fa  fa-google"></span></a>
            <a href="#" title="Twitter"><span class="header__contact-icon  fa  fa-twitter"></span></a>
        </div>
    </div>

    <div class="header__main" role="banner">

        {{> molecules-logo-link }}

        <div class="header__controls">
            <a href="#nav" class="nav-toggle  nav-toggle-menu  icon-menu"><span class="is-vishidden">Menu</span></a>

            {{> molecules-primary-nav }}

        </div><!-- end c-header__controls -->

    </div><!-- end c-header -->
</header>
