<footer class="c-footer" role="contentinfo">

	<div class="l">
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.</p>
	</div><!-- end l -->

</footer><!-- end c-footer -->
