<footer class="c-footer" role="contentinfo">

    <div class="c-footer__bg"></div>

    <div class="g g-4up">

        <div class="gi">
            <h2 class="c-section__title  c-section__title--footer">Precise Locations</h2>
            {{> organisms-text-blob(htmlText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, unde, dolore? Ex fugit, necessitatibus tempore...") }}
        </div>

        <div class="gi">
            <h2 class="c-section__title  c-section__title--footer">Who we are</h2>
            {{> organisms-text-blob(htmlText: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, unde, dolore? Ex fugit, necessitatibus tempore neque ullam nostrum ducimus alias beatae voluptatibus iusto, perspiciatis tenetur consectetur reprehenderit, harum quae rerum!") }}
        </div>

        <div class="gi">
            <h2 class="c-section__title  c-section__title--footer">Useful Links</h2>
		    {{> molecules-footer-nav }}
        </div>

        <div class="gi">
            <h2 class="c-section__title  c-section__title--footer">Latest Properties</h2>
            {{# latestProperties }}
                {{> organisms-media-list }}
            {{/ latestProperties }}
        </div>
	</div><!-- end g -->

    <!--<p class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.</p>-->

</footer><!-- end c-footer -->
