<header class="header" role="banner">

    <div class="header__contact-info">
        <div class="header__phone-info">
            <span class="fa  fa-lg  fa-mobile"></span>
            <span>{{ headerContactInfo }}</span>
        </div>
        <div class="header__contact-icons">
            <a href="#" title="Email"><span class="header__contact-icon  fa  fa-envelope"></span></a>
            <a href="#" title="Facebook"><span class="header__contact-icon  fa  fa-facebook"></span></a>
            <a href="#" title="Google"><span class="header__contact-icon  fa  fa-google"></span></a>
            <a href="#" title="Twitter"><span class="header__contact-icon  fa  fa-twitter"></span></a>
        </div>
    </div>

    <div class="header__main" role="banner">

        {{> molecules-logo-link }}

        <div class="header__controls">
            <a href="#nav" class="nav-toggle  nav-toggle-menu  icon-menu"><span class="is-vishidden">Menu</span></a>
            <a href="#search-form" class="nav-toggle  nav-toggle-search  icon-search"><span class="is-vishidden">Search</span></a>

            {{> molecules-primary-nav }}

        </div><!-- end c-header__controls -->

    </div><!-- end c-header -->
</header>
