/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
  clear: both;
  font-size: $font-size-small;
  overflow: hidden;
  line-height: 1.2;
  padding: 1em;
  position: relative;


}

.c-footer__bg {
  background-image:url('../images/footer-bg.jpg');
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/**
 * Footer nav
 */
.c-footer__info {
	max-width: 40em;
	
	a {
		color: $color-gray-15;
		text-decoration: underline;
		
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}