/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$featured-property-bp: 900px;
$affiliated-link-bp: 700px;
$title-pagination-bp: 800px;

/**
 * Section
 */
.c-section {
	position: relative;
	margin: 0 0 $space-double;

	.l-sidebar & {
		@media all and (min-width: $bp-small-3) {
			margin-right: 2em;
			width: 50%;

			&:last-child {
				margin-right: 0;
			}
		}

		@media all and (min-width: $bp-large) {
			width: 100%;
			margin-right: 0;
		}
	}
}

/**
 * Section title
 */
.c-section__title {
	position: relative;
	color: $color-gray-73;
	margin-bottom: 1.5rem;
  	text-transform: uppercase;

	&:after {
	    content: "";
	    display: block;
	    position: absolute;
	    width: 3rem;
	    height: 0.2rem;
	    top: 30px;
	    left: 1px;
	    background: $color-gray-35;
	}
}

.c-section__title--footer {
  color: $color-primary;
  font-size: $font-size-med-2;

  &:after {
	background: $color-black;
	top: 25px;
  }
}


/**
 * Section block
 */
.c-tile-grid {
	background: url(../../images/sample/hero-mountains.jpg) no-repeat 50% 50% $color-gray-73;
	background-size: cover;
}

.c-tile-grid__inner {
	display: flex;
	flex-direction: column;

	@media all and (min-width: $bp-med) {
		flex-direction: row;
	}
}

.c-tile-grid__primary {
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 1rem;

	@media all and (min-width: $bp-med) {
		width: 50%;
	}

	@media all and (min-width: 55rem) {
		width: 30%;
	}
}

.c-tile-grid__secondary {
	flex: 1;

	@media all and (min-width: $bp-med){
		padding: 0 0 0 1em;
	}
}

/*------------------------------------*\
	#VALUATION SECTION
\*------------------------------------*/

/**
 * 1) The valuation section containing a video element.
 */
.c-section-valuation {
  color: $color-white;
  margin-bottom: $space-half;
  padding: $pad-and-half;
  position: relative;
}

.c-section-valuation__tint {
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.c-section-valuation__tint:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/valuation-bg.png');
  background-size: cover;
  opacity: 0.2;
}

.c-section-valuation__contact-info-wrapper {
  align-items: center;
  display: flex;
}

.c-section-valuation__contact-info {
  margin: 0 0 0 $pad-half;
}

.c-section-valuation__call-now {
  font-size: 0.5em;
}

.c-section-valuation__content-wrapper {
  width: 100%;

  @media (min-width: 50em) {
	width: 50%;
  }

  h3 {
	text-transform: uppercase;
  }
}

.c-section-valuation__testimonial {
  margin: 1rem 0 0;
}

.c-section-valuation__video-wrapper {

  margin: 2em 0 0;
  width: 100%;

  @media (min-width: 50em) {
	margin: 0 0 2em 2em;
	width: 50%;
  }
}

/**
 *  Valuation headline
 */
.c-section-valuation__heading-info {
  text-transform: uppercase;

  > h2 {
	margin: 0 auto 1rem 0;
  }
}

/*------------------------------------*\
	#FEATURED PROPERTY SECTION
\*------------------------------------*/

.c-featured-property {
  color: $color-white;
  margin-bottom: $space-half;
  padding: $pad-and-half;
  position: relative;

  > h2 {
    margin: 0.5em 0 1em 0;
    text-transform: uppercase;
  }
}

.c-featured-property__tint {
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.c-featured-property__tint:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('http://eatest.energisededge.com/wp-content/uploads/2017/01/Living-Room.jpg');
  background-size: cover;
  opacity: 0.2;
}

.c-featured-property__title {
  position: absolute;
  left: $space-double;
  top: -$space;
  display: inline-block;
  background: $color-black;
  padding: $pad-quarter $pad-half;
  text-transform: uppercase;
}

.c-featured-property__image {
  margin: 1em 0;

  img {
    border-radius: $border-radius;
    width: 100%;
  }

  @media all and (min-width: $featured-property-bp) {
    float: left;
    perspective: 50em;
    width: 60%;

    a:hover {

      img {
        transform: rotateY(10deg);
      }
    }

    a {

      img {
        border-radius: 0;
        transition: .3s;
        transform: rotate(0);
      }
    }
  }
}

.c-featured-property__detail-wrapper {

  @media all and (min-width: $featured-property-bp) {
    width: 34%;
    margin: 0 0 0 auto;
  }
}

.c-featured-property__detail-grid {
  margin: 1em -0.5em;
  overflow: hidden;

  > div {
    width: 25%;
    text-align: center;
    padding: $pad-half;
    float: left;

    img {
      height: 2em;
      margin-bottom: 0;
    }

    figcaption {
      font-size: $font-size-small;
    }

    @media all and (min-width: $featured-property-bp) {
      width: 48%;
      display: inline-block;
    }
  }

  @media all and (min-width: $featured-property-bp) {

    .c-featured-property__grid1,
    .c-featured-property__grid3 {
      border-right: 1px solid rgba(255, 255, 255, 0.20);
    }

    .c-featured-property__grid1,
    .c-featured-property__grid2 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }
  }
}

.c-featured-property__detail-info {
  margin: 1em 0;
}

.c-featured-property__detail-location {
  margin: 0 auto $pad-quarter 0;

  .fa {
    margin: 0 $space-half 0 0;
  }
}

.c-featured-property__description {

  a {
    color: $color-white;
    text-transform: uppercase;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  @media all and (min-width: $featured-property-bp) {
    width: 34%;
    font-size: $font-size-small;
    color: $color-text-subtle;
    padding: 4em 0 0;
    float: right;

    a {
      color: $color-text-link;
      text-transform: uppercase;
    }

    p {
      border-left: solid $color-border 6px;
      padding: 0 1em;
    }
  }
}


/*------------------------------------*\
	#AFFILIATED LINK SECTION
\*------------------------------------*/
.c-affiliated__grid {
  margin: 0 -0.5em;
  overflow: hidden;

  > div {
    width: 100%;
    text-align: center;
    padding: 0 $pad-half $pad-half;
    float: left;

    img {
      width: 98%;
    }

    @media all and (min-width: $bp-small-2) {
      width: 50%;
      display: inline-block;
    }

    @media all and (min-width: $bp-med-2) {
      width: 25%;
      display: inline-block;
    }
  }
}


/*------------------------------------*\
	#SUBSCRIBE FOR UPDATES SECTION
\*------------------------------------*/
.c-subscribe {
  color: $color-white;
  margin-bottom: $space-half;
  padding: 2.5em 1.5em 4em;
  position: relative;

  > h2 {
    text-transform: uppercase;
  }
}

.c-subscribe__tint {
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.c-subscribe__tint:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/valuation-bg.png');
  background-size: cover;
  opacity: 0.2;
}

/*------------------------------------*\
	#TITLE/PAGINATION
\*------------------------------------*/
.c-title-pagination {
  align-items: center;
  display: flex;

  > h1 {
    margin: 0 auto 0 0;
  }

  @media all and (max-width: $title-pagination-bp) {
    display: block;

    > h1 {
      margin: 0 0 0.5em 0.5em;
      text-align: left;
    }
  }
}