<section class="c-affiliated">

    <div class="c-affiliated__grid">
        <div>
            <a href="#">
                {{> atoms-landscape }}
            </a>
        </div>
        <div>
            <a href="#">
                {{> atoms-landscape }}
            </a>
        </div>
        <div>
            <a href="#">
                {{> atoms-landscape }}
            </a>
        </div>
        <div>
            <a href="#">
                {{> atoms-landscape }}
            </a>
        </div>
    </div>
</section><!--end section-->
