<section class="c-featured-property">
    <div class="c-featured-property__tint"></div>

    <div class="c-featured-property__title">
        Featured Property
    </div>

    <h2>Family House in Chadderton</h2>

    <div class="c-featured-property__image">
        <a href="#" title="View Property">
            <img src="{{ featuredPropertyImage }}" alt="Family House in Chadderton"/>
        </a>
    </div>

    <div class="c-featured-property__detail-wrapper">
        <div class="c-featured-property__detail-grid">
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-square }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">2 Receptions</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-square }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">2 Receptions</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-square }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">2 Receptions</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-square }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">2 Receptions</figcaption>

                </figure><!-- end c-figure -->
            </div>
        </div>

        <div class="c-featured-property__detail-info">
            <div class="c-featured-property__detail-location">
                <span class="fa  fa-map-marker"></span><span>Greater Manchester OL9</span>
            </div>
            <div class="c-featured-property__detail-price">
                <span>£227,000</span>
            </div>
        </div>
    </div>

    <div class="c-featured-property__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, unde, dolore? Ex fugit, necessitatibus tempore neque ullam nostrum ducimus alias beatae voluptatibus iusto, perspiciatis tenetur consectetur reprehenderit, harum quae rerum!</p>
        <a href="#">Read More ></a>
    </div>
</section><!--end section-->
