<div class="c-property-further-info">
    <div class="c-property-further-info__floorplan">
        <img src="../../images/floorplan.jpg"/>
    </div>
    <div class="c-property-further-info__agent-cta">
        {{> molecules-agent-cta }}
    </div>
</div>
