<section class="c-section-valuation">
    <div class="c-section-valuation__heading-info  l  l--two-col">
        <h2>How much is your property worth?</h2>
        <div class="c-section-valuation__contact-info-wrapper">
            <div class="fa  fa-phone  fa-2x"></div>
            <div class="c-section-valuation__contact-info">
                <div class="c-section-valuation__call-now">Call us now</div>
                <div>0161 123 4567</div>
            </div>

        </div>
    </div>

    <div class="l  l--two-col">
        <div class="c-section-valuation__content-wrapper">
            <div>
                <h3>Property Valuation Service</h3>
                <div>Get Accurate valuations of your property</div>
            </div>
            <div class="c-section-valuation__testimonial">
                {{> molecules-blockquote(quoteSource: false) }}
            </div>
        </div>
        <div class="video-wrapper  c-section-valuation__video-wrapper">
            <iframe src="https://www.youtube.com/embed/Owft2on-Q_c" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="c-section-valuation__tint"></div>
</section><!--end section-->
