<section class="c-section-valuation">
    <div class="c-section-valuation__heading-info  l  l--two-col">
        <h2>How much is your property worth?</h2>
        <div class="c-section-valuation__contact-info-wrapper">
            <div class="fa  fa-phone  fa-2x"></div>
            <div class="c-section-valuation__contact-info">
                <div class="c-section-valuation__call-now">Call us now</div>
                <div>0161 123 4567</div>
            </div>

        </div>
    </div>
    <div class="c-section-valuation__tint"></div>
</section><!--end section-->
