<section class="c-selected-property">
    <div class="c-selected-property__tint"></div>

    <div class="c-selected-property__title">
        Selected Property
    </div>

    <h2>Family House in Chadderton</h2>

    <div class="c-selected-property__left">
        {{> organisms-slider }}
        <div class="c-selected-property__description">
            {{> organisms-text-blob }}
            <ul>
                <li>Conservatory</li>
                <li>Development Opportunity</li>
                <li>Conservatory</li>
                <li>Conservatory</li>
            </ul>
        </div>
    </div>

    <div class="c-selected-property__detail-wrapper">
        <div class="c-selected-property__detail-grid">
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-landscape }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">2 Receptions</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-landscape }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">5 Bedrooms</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-landscape }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">1 Garage</figcaption>

                </figure><!-- end c-figure -->
            </div>
            <div>
                <figure class="c-figure">
                    <div class="c-figure__media">
                        {{> atoms-landscape }}
                    </div><!-- end c-figure__media -->

                    <figcaption class="c-figure__caption">3 Bathrooms</figcaption>

                </figure><!-- end c-figure -->
            </div>
        </div>
        <div class="c-selected-property__social">

        </div>
    </div>

    <div class="c-selected-property__detail-right">
        <div class="c-selected-property__detail-info">
            <div class="c-selected-property__detail-info-wrapper">
                <div class="c-selected-property__detail-location">
                    <span class="fa  fa-map-marker"></span><span>Greater Manchester OL9</span>
                </div>
                <div class="c-selected-property__detail-price">
                    <span>£227,000</span>
                </div>
                <div class="c-selected-property__detail-status">
                    <span>Under Offer</span>
                </div>
            </div>
        </div>

        <div class="c-selected-property__detail-map">
            <div id="PropertySingleListMap" class="map  map--property-listing"></div>
        </div>
    </div>
</section><!--end section-->
