<section class="c-subscribe">
    <h2>Subscribe to our email updates</h2>
    <p>Get latest news, alerts &amp; updates from {{ company.name }}</p>
    {{> molecules-field }}
    <div class="c-form__actions">
        {{> atoms-button(btnText: "Subscribe") }}
    </div>
    <div class="c-subscribe__tint"></div>
</section><!--end section-->
