<div class="c-block-hero">
    <div data-p="144.50" style="display:none;">
        <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-artylowreslivingroomusethisone.jpg">
        <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-artylowreslivingroomusethisone.jpg">
    </div>

    <div data-p="144.50" style="display:none;">
        <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Artylowres5.jpg">
        <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Artylowres5.jpg">
    </div>

    <div data-p="144.50" style="display:none;">
        <img data-u="image" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Masterbedroomlowres.jpg">
        <img data-u="thumb" src="http://eatest.energisededge.com/wp-content/uploads/2016/12/1324-Masterbedroomlowres.jpg">
    </div>

	<div class="c-block-hero__find-property">{{> organisms-find-property-form }}</div>

</div><!-- end c-block--hero-->
