/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

/**
 * Section title
 */
.c-section__title {

	&:after {
	    background: $color-primary;
	}
}

.c-section__title--footer {
  color: $color-primary;
}

/*------------------------------------*\
	#VALUATION SECTION
\*------------------------------------*/

/**
 * 1) The valuation section containing a video element.
 */
.c-section-valuation__tint {
  background-color: $color-primary;
}

/*------------------------------------*\
	#FEATURED PROPERTY SECTION
\*------------------------------------*/

.c-featured-property__tint {
  background-color: $color-primary;
}

/*------------------------------------*\
	#SUBSCRIBE FOR UPDATES SECTION
\*------------------------------------*/
.c-subscribe__tint {
  background-color: $color-primary;
}