<div class="c-agent-cta">
    <div class="c-agent-cta__info">
        <img src="../../images/fpo_avatar.png" alt="Agent Name"/>
        <div class="c-agent-cta__agent-detail">
            <h2>Property Agent</h2>
            <h3>Martina <span class="upper-case">Weatherhead</span></h3>
            <h4>Sales Executive</h4>

            <div class="c-agent-cta__contact-icons">
                <a href="#" title="Facebook"><span class="c-agent-cta__contact-icon  fa  fa-facebook"></span></a>
                <a href="#" title="Google"><span class="c-agent-cta__contact-icon  fa  fa-google"></span></a>
                <a href="#" title="Twitter"><span class="c-agent-cta__contact-icon  fa  fa-twitter"></span></a>
            </div>
        </div>
    </div>

    <div class="c-agent-cta__form">
        <p>Get in touch about this property</p>

        <form>
            {{> molecules-field(id: "AgentContactNameField", type: "text", label: "Contact Name") }}
            {{> molecules-field(id: "AgentContactNumberField", type: "text", label: "Contact Number") }}
            {{> molecules-field(id: "AgentContactEmailField", type: "text", label: "Contact Email") }}

            <div class="c-form__actions">
                {{> atoms-button(btnText: "Register Your Interest") }}
            </div>
        </form>
    </div>
</div><!-- end c-agent-cta -->
