<div class="c-agent">
    <img src="../../images/fpo_avatar.png" alt="Agent Name"/>
    <div class="c-agent__agent-detail">
        <h3>
            <span>Martina</span>
            <span class="upper-case">Weatherhead</span>
        </h3>
    </div>
</div><!-- end c-agent-cta -->
