<section class="c-blog-link  upper-case">
    <a href="#">
        {{ linkText }}
    </a>
    <div class="c-blog-link__tint">
        <div class="c-blog-link__tint-image"></div>
    </div>
</section><!--end section-->