<div class="c-blog-popular-post-item">
    <div class="c-blog-popular-post-item__info">
        <h3 class="upper-case">
            <a href="{{ url }}">{{ headline.short }}</a>
        </h3>
        <p>{{ excerpt.medium }}</p>
    </div>
    <div class="c-blog-popular-post-item__actions upper-case">
        <a href="{{ url }}">Find out more</a>
    </div>
</div><!-- end c-property-item -->
