<div class="c-blog-comment-item">
    <div class="c-blog-comment__info">
        <span>{{ user }} writes - </span>
        <span>{{ date }}</span>
    </div>
    <div class="c-blog-comment__comment">{{ comment }}</div>
</div><!-- end c-property-item -->
