<div class="c-blog-detail-item">
    <div class="c-blog-detail-item__image">
        <h2>{{ category }}</h2>
        <img src="{{ mainImage.src }}" alt="{{ mainImage.alt }}"/>
    </div>
</div><!-- end c-property-item -->
