/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Main content area
 */
[role=main] {
  flex: 1;
  padding-top: 114px;

  @media all and (max-width: $bp-large) {
    padding-top: 98px;
  }
}

.main--relative {
  padding-top: 0;
  position: relative;
}

.main--fixed {
  padding-top: 46px;

  .c-form--listing-search {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
