{{#selectItem }}
    <select id="{{ id }}">
        <optgroup label="{{ label }}">
        {{#options }}
            <option>{{.}}</option>
        {{/options }}
        </optgroup>
    </select>
{{/selectItem }}
