/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$c-block-hero__find-property-bp: 930px;
$header-contact-info-bp: 780px;
$blog-index-item-bp: 75em;
$filters-beds-bp: 44em;
$filters-price-bp: 64em;


/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.c-block-hero {
    border-bottom: 0.5em solid #000;
    display: block;
    position: relative;

    .slider__thumbnails {
        display: none;
    }

    @media all and (max-width: ($c-block-hero__find-property-bp - 1)) {

        .slider--hero {
            display: none;
        }
    }
}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-block-hero__img {
    display: block;
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
}

/**
 * Hero Box
 * 1) This sits overtop of the hero image when space permits
 */
.c-block-hero__find-property {
    color: $color-white;
    font-size: $font-size-small;
    transition: all $anim-speed-quick $anim-ease;

    @media all and (min-width: $c-block-hero__find-property-bp) {
        position: absolute;
        bottom: 0;
        left: 5vw;
        width: 35%;
        border-radius: $border-radius $border-radius 0 0;

        .c-form__sale-or-rent-form {
            padding: ($pad * 3) 0 0
        }
    }
 }

.c-form__sale-or-rent {
    display: flex;
    justify-content: center;
    padding: $pad-double 0 0;

    @media all and (min-width: $c-block-hero__find-property-bp) {
        position: absolute;
        padding: 0;
        width: 100%;
        left: 0;
        top: -$pad-and-half;
    }

    .c-form__sale-button-holder {
        display: flex;
        margin: 0 0.25em 0 0;
    }

    .c-form__rent-button-holder {
        display: flex;
        margin: 0 0 0 0.25em;
    }
}

/**
 * Filter Bar form
 */
.c-form--listing-search {
    background-color: $color-black;
    color: $color-white;

    input {
        border: 0 none;
        border-radius: 0;
    }

    select {
        min-width: 10em;
        width: 100%;
    }

    .c-form__sale-or-rent {
        display: none;
    }

    .c-form__sale-or-rent-form {
        display: flex;
        align-items: stretch;
        height: 100%;
        padding: $pad-half $pad-half 0;

        h2 {
            margin: $space-half 0;
        }

        > p {
            display: none;
        }

        .c-field,
        .c-combined-field {
            display: flex;
            flex: 1;
            font-size: $font-size-small;
            margin: 0 $space 0.65rem;
        }

        .c-combined-field__separator {
            padding: 0 $pad;
        }

        .c-form__filters-link {
            display: flex;
            margin: $space-half/2 $space 0;

            > span {
                margin: $space-half/2 0 0 $space-half;
            }

            a {
                color: $color-white;
            }

            a:hover {
                color: $color-gray-15;
            }
        }

        @media all and (min-width: $header-contact-info-bp) {

            h2 {
                margin: 0 0 $space-half;
            }
        }

        @media all and (max-width: $filters-beds-bp) {

            .c-form__beds {
                display: none;
            }
        }

        @media all and (max-width: $filters-price-bp) {

            .c-form__price {
                display: none;
            }
        }
    }

    .c-form__split {
        display: flex;
        flex: 3;
        margin: 0 $space 0 0;

        input {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            outline: none;
        }

        select {
            appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            border: 0 none;
            border-radius: 0;
            min-width: 125px;
            outline: none;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        .c-field {
            flex: initial;
            margin: 0 0 0.65rem;
        }

        .c-field:first-child {
            flex: 1;
        }
    }

    .c-form__actions {
        margin: $space-half 0;
    }
}

.c-form__hidden-filters {
    display: none;
    position: fixed;
    -webkit-transform: translateY(53px);
    -ms-transform: translateY(53px);
    transform: translateY(53px);
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: $color-white;
}

.c-form__hidden-filters--active {
    display: block;
}

/*------------------------------------*\
	#MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
	display: flex;
	transition: all $anim-speed-quick $anim-ease;

	&--small {
		font-size: $font-size-small;
	}
}

/**
 * Media Container
 * 1) This is the container that holds the block image (or media)
 */
.c-block-media__media {
	width: 20%;
	max-width: 11em;
	margin-right: 1rem;

	.c-block-media--small & {
		max-width: 5em;
		margin-right: 1rem;
	}

	@media all and (min-width: $bp-med) {
		width: 50%;
		margin-right: 1.5rem;
	}
}

/* For use in the footer */
.c-block-media__media--footer {

    @media all and (min-width: $bp-med) {
        width: 30%;
        margin-right: 1rem;
    }
}

.c-block-media__img {
	border-radius: $border-radius;
}

.c-block-media__headline {
	margin-bottom: 0.2em;
	color: $color-gray-65;
	transition: all $anim-speed-quick $anim-ease;

	.c-block-media--small & {
		font-size: $font-size-med;
	}
}

.c-block-media__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.c-block-media__excerpt {
	color: $color-gray-35;
	transition: all $anim-speed-quick $anim-ease;

	.c-block-media--small & {
		margin-bottom: 0;
		line-height: 1.2;
	}
}


/*------------------------------------*\
	#TOUT BLOCK
\*------------------------------------*/

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
    display: inline-block;
	margin-bottom: $space-half;
	position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    width: 100%;
}
 
/**
 *  Tout image
 */
 
 .c-block-tout__img {
	 display: block;
 }

/**
 *  Tout headline
 */
.c-block-tout__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-dim-50;
    color: $color-white;
    padding: $pad-half;
    font-size: 1.4rem;
    transition: all $anim-speed-quick $anim-ease;

    .c-block-tout:hover &, .c-block-tout:focus & {
        padding-bottom: 2rem;
    }
}



/*------------------------------------*\
	#TILE BLOCK
\*------------------------------------*/

/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-dim-50;
    color: $color-white;
    border-radius: $border-radius;
    padding: 1em 1em;
    text-align: center;
    overflow: hidden;
    transition: all $anim-speed-quick $anim-ease;

    &:hover, &:focus {
        background: $color-dim-70;
        color: $color-white;
    }

    @media all and (min-width: 55rem) {
	    padding: 4em 1em;
    }
}

/**
 * Featured tile block
 */
.c-block-tile--featured {
	min-height: 200px;
}

/**
 * Tile block value
 */
.c-block-tile__value {
	font-size: 1.5rem;
    line-height: 1.2;

	/**
	 * Tile value when inside featured tile parent selector
	 */
	.c-block-tile--featured & {
	    font-size: 2.5rem;

	    @media all and (min-width: $bp-med) {
	    	font-size: 5rem;
		}
    }

    @media all and (min-width: 55rem) {
		font-size: 3rem;
    }
}

.c-block-tile__label {
    color: $color-gray-15;
    font-weight: normal;
    font-size: $font-size-med;
}


/*------------------------------------*\
	#PROPERTY ITEM
\*------------------------------------*/
.c-property-item {

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        margin: $space-double 0 $space;
    }

    @media all and (min-width: $bp-med) {

        hr {
            display: none;
        }
    }
}

.c-property-item--active {
    box-shadow: 0px 0px 9px #888888;
    padding: 13px;
}

.c-property-item__thumb-holder {
    height: 100%;
    position: relative;
    overflow: hidden;

    @media all and (min-width: $bp-med) {
        height: 145px;
    }

    img {
        vertical-align: middle;
        width: 100%;
    }
}

.c-property-item__small-thumbs {
    margin: $pad-quarter 0 0;
    position: relative;
}

.c-property-item__small-thumb {
    width: 32%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
    height: 60px;

    @media all and (min-width: $bp-med) {
        height: 48px;
    }

    img {
        width: 100%;
    }
}

.c-property-item__small-thumb:last-child {
    margin-right: 0;
}

.c-property-item__overview {
    clear: both;
    padding: $pad-half 0 0;

    > p {
        font-size: $font-size-small-2;
        font-weight: bold;
        margin: 0 0 $pad-half;
    }
}

.c-property-item__info {
    display: flex;

    > div {
        align-items: center;
        color: $color-gray-73;
        display: flex;
        margin: $pad-half $pad-and-half $pad-half 0;

        .fa {
            margin: 0 $pad-quarter 0 0;
        }

        .fa:before {
            color: $color-gray-35;
        }
    }
}

.c-property-item__description {
    font-size: $font-size-small-2;
}

/*------------------------------------*\
	#AGENT
\*------------------------------------*/
.c-agent__agent-detail {
    text-align: center;

    h3 {
        > span {
            display: block;
        }
    }
}

/*------------------------------------*\
	#AGENT CALL TO ACTION
\*------------------------------------*/
.c-agent-cta {
    color: $color-white;
    padding: $pad;
}

.c-agent-cta__info {
    display: flex;
    align-items: flex-start;
    margin: 0 0 1em;

    > img {
        border-radius: $border-radius;
        margin: 0 1em 0 0;
        width: 40%;
    }
}

.c-agent-cta__agent-detail {
    text-align: center;

    h2,
    h3 {
        margin: 0 0 $space;
    }
}

.c-agent-cta__contact-icons {
    height: 100%;

    a {
        color: $color-white;
    }

    a:hover {
        color: $color-gray-15;
    }

    @media all and (max-width: $header-contact-info-bp) {
        margin: 0 0 0 auto;
    }
}

.c-agent-cta__contact-icon {
    align-items: center;
    display: flex;
    padding: 0 0.8em;
}

.c-agent-cta__form {
    text-align: center;
}

/*------------------------------------*\
	#SOCIAL MEDIA
\*------------------------------------*/
.c-social-media {
    color: $color-white;
    padding: $pad;
}

.c-social-media__info {
    text-align: center;
}

.c-social-media__contact-icons {
    height: 100%;

    a {
        color: $color-white;
    }

    a:hover {
        color: $color-gray-15;
    }

    @media all and (max-width: $header-contact-info-bp) {
        margin: 0 0 0 auto;
    }
}

.c-social-media__contact-icon {
    margin: 0 $space-half 0 0;
}

.c-social-media__form {
    margin: $space 0 0;

    > p {
        text-align: center;
    }
}

.c-social-media__search {
    position: relative;

    input {
        text-indent: 30px;
    }

    .fa-search {
        color: $color-gray-50;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
     }
}


/*------------------------------------*\
	#BLOG INDEX POST
\*------------------------------------*/
.c-blog-index-item {
    margin: 0 0 $space-double;
}

.c-blog-index-item__image {
    max-height: 240px;
    overflow: hidden;
    position: relative;

    > h2 {
        position: absolute;
        top: 1em;
        left: 1em;
        display: inline-block;
        background: $color-black;
        padding: $pad-quarter $pad-half;
        text-transform: uppercase;
        color: $color-white;
        font-size: $font-size-med;
    }

    img {
        border-bottom-width: $border-thick;
        border-bottom-style: solid;
        margin-top: -20%;
        width: 100%;
    }
}

.c-blog-index-item__date {
    font-weight: bold;
    text-align: right;
}

.c-blog-index-item__info {
    padding: 0 0 0 $pad;
    border-left: $border-thick solid $color-black;
}

.c-blog-index-item__calls-to-action {
    align-items: center;
    display: flex;
}

.c-blog-index-item__actions {
    margin: 0 0 0 auto;
}

.c-blog-index-item__contact-icon {
    margin: 0 $space-half 0 0;
}

/*------------------------------------*\
	#BLOG DETAIL POST
\*------------------------------------*/
.c-blog-detail-item__image {
    position: relative;

    > h2 {
        position: absolute;
        bottom: 20px;
        left: 1em;
        display: inline-block;
        background: $color-black;
        padding: $pad-quarter $pad-half;
        text-transform: uppercase;
        color: $color-white;
        font-size: $font-size-med;
    }

    img {
        border-bottom-width: $border-thick * 2;
        border-bottom-style: solid;
        height: 60vh;
        width: 100%;
    }
}

.c-blog-index-item__date {
    font-weight: bold;
    text-align: right;
}

.c-blog-index-item__info {
    padding: 0 0 0 $pad;
    border-left: $border-thick solid $color-black;
}

.c-blog-index-item__calls-to-action {
    align-items: center;
    display: flex;
}

.c-blog-index-item__actions {
    margin: 0 0 0 auto;
}

.c-blog-index-item__contact-icon {
    margin: 0 $space-half 0 0;
}

/*------------------------------------*\
	#BLOG COMMENTS
\*------------------------------------*/
.c-blog-comment-item {
    font-size: $font-size-small-2;
    margin: 0 0 $space;
}

.c-blog-comment__info {
    display: flex;

    span:first-child {
        font-size: $font-size-med;
        font-weight: bold;
        margin: 0 auto 0.5em 0;
    }
}

.c-blog-comment__comment {
    padding: 0 0 0 $pad;
    border-left-width: $border-thick;
    border-left-style: solid;
    height: 5em;
}

/*------------------------------------*\
	#BLOG POPULAR POST
\*------------------------------------*/
.c-blog-popular-post-item {
    font-size: $font-size-small-2;
}

.c-blog-popular-post-item__info {
    padding: 0 0 0 $pad;
    border-left-width: $border-thick;
    border-left-style: solid;
}

.c-blog-popular-post-item__actions {
    margin: 0 0 $space;
    text-align: right;

    > a {
        font-weight: bold;
    }

    > a:hover,
    a:active {
        color: $color-black;
    }
}

/*------------------------------------*\
	#BLOG LINK
\*------------------------------------*/
.c-blog-link {
    position: relative;
    text-align: center;
    margin: 0 0 $space;

    a {
        color: $color-white;
        display:block;
        font-weight: bold;
        padding: $pad-double 0;
    }

    a:hover,
    a:active {
         color: $color-black;
    }
}

.c-blog-link__tint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.c-blog-link__tint:before {
    background-image: url('http://eatest.energisededge.com/wp-content/uploads/2017/01/Living-Room.jpg');
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.4;
}

