/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$c-block-hero__find-property-bp: 930px;
$header-contact-info-bp: 780px;


/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.c-block-hero {
    border-bottom: 0.5em solid #000;
    display: block;
    position: relative;

    .slider__thumbnails {
        display: none;
    }

    @media all and (max-width: ($c-block-hero__find-property-bp - 1)) {

        .slider--hero {
            display: none;
        }
    }
}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-block-hero__img {
    display: block;
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
}

/**
 * Hero Box
 * 1) This sits overtop of the hero image when space permits
 */
.c-block-hero__find-property {
    color: $color-white;
    font-size: $font-size-small;
    transition: all $anim-speed-quick $anim-ease;

    @media all and (min-width: $c-block-hero__find-property-bp) {
        position: absolute;
        bottom: 0;
        left: 5vw;
        width: 35%;
        border-radius: $border-radius $border-radius 0 0;
    }

    .c-block-hero:hover &,
    .c-block-hero:focus & {
        background-color: $color-primary;
    }
 }

.c-form__sale-or-rent {
    display: flex;
    justify-content: center;
    padding: $pad 0 0;

    @media all and (min-width: $c-block-hero__find-property-bp) {
        position: absolute;
        padding: 0;
        width: 100%;
        left: 0;
        top: -$pad-and-half;
    }

    .c-form__sale-button-holder {
        display: flex;
        margin: 0 0.25em 0 0;
    }

    .c-form__rent-button-holder {
        display: flex;
        margin: 0 0 0 0.25em;
    }
}

.c-form__sale-or-rent-form {
    padding: $pad 0 $pad-half;

    @media all and (min-width: $c-block-hero__find-property-bp) {
        padding: ($pad-double + $pad) 0 0;
    }
}

.c-form--listing-search {
    color: $color-white;

    .c-form__sale-or-rent {
        display: none;
    }

    .c-form__sale-or-rent-form {

        h2 {
            margin: $space-half 0;
        }

        > p {
            display: none;
        }

        .c-field,
        .c-combined-field {
            font-size: $font-size-small;
            margin: 0 auto 0.65rem;
        }

        @media all and (min-width: $header-contact-info-bp) {
            padding: $pad 0 $pad-half;

            h2 {
                margin: 0 0 $space-half;
            }
        }
    }

    .c-form__actions {
        margin: $space-half 0;
    }
}


/*------------------------------------*\
	#MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
	display: flex;
	transition: all $anim-speed-quick $anim-ease;

	&--small {
		font-size: $font-size-small;
	}
}

a.c-block-media:hover, a.c-block-media:focus {
    .c-block-media__headline {
        color: $color-primary;
    }
}

/**
 * Media Container
 * 1) This is the container that holds the block image (or media)
 */
.c-block-media__media {
	width: 20%;
	max-width: 11em;
	margin-right: 1rem;

	.c-block-media--small & {
		max-width: 5em;
		margin-right: 1rem;
	}

	@media all and (min-width: $bp-med) {
		width: 50%;
		margin-right: 1.5rem;
	}
}

/* For use in the footer */
.c-block-media__media--footer {

    @media all and (min-width: $bp-med) {
        width: 30%;
        margin-right: 1rem;
    }
}

.c-block-media__img {
	border-radius: $border-radius;
}

.c-block-media__headline {
	margin-bottom: 0.2em;
	color: $color-gray-65;
	transition: all $anim-speed-quick $anim-ease;

	.c-block-media--small & {
		font-size: $font-size-med;
	}
}

.c-block-media__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.c-block-media__excerpt {
	color: $color-gray-35;
	transition: all $anim-speed-quick $anim-ease;

	.c-block-media--small & {
		margin-bottom: 0;
		line-height: 1.2;
	}
}


/*------------------------------------*\
	#TOUT BLOCK
\*------------------------------------*/

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
    display: inline-block;
	margin-bottom: $space-half;
	position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    width: 100%;
}
 
/**
 *  Tout image
 */
 
 .c-block-tout__img {
	 display: block;
 }

/**
 *  Tout headline
 */
.c-block-tout__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-dim-50;
    color: $color-white;
    padding: $pad-half;
    font-size: 1.4rem;
    transition: all $anim-speed-quick $anim-ease;

    .c-block-tout:hover &, .c-block-tout:focus & {
        padding-bottom: 2rem;
    }
}



/*------------------------------------*\
	#TILE BLOCK
\*------------------------------------*/

/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-dim-50;
    color: $color-white;
    border-radius: $border-radius;
    padding: 1em 1em;
    text-align: center;
    overflow: hidden;
    transition: all $anim-speed-quick $anim-ease;

    &:hover, &:focus {
        background: $color-dim-70;
        color: $color-white;
    }

    @media all and (min-width: 55rem) {
	    padding: 4em 1em;
    }
}

/**
 * Featured tile block
 */
.c-block-tile--featured {
	min-height: 200px;
}

/**
 * Tile block value
 */
.c-block-tile__value {
	font-size: 1.5rem;
    line-height: 1.2;

	/**
	 * Tile value when inside featured tile parent selector
	 */
	.c-block-tile--featured & {
	    font-size: 2.5rem;

	    @media all and (min-width: $bp-med) {
	    	font-size: 5rem;
		}
    }

    @media all and (min-width: 55rem) {
		font-size: 3rem;
    }
}

.c-block-tile__label {
    color: $color-gray-15;
    font-weight: normal;
    font-size: $font-size-med;
}


/*------------------------------------*\
	#PROPERTY ITEM
\*------------------------------------*/
.c-property-item {

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        margin: $space-double 0 $space;
    }

    @media all and (min-width: $bp-med) {

        hr {
            display: none;
        }
    }
}

.c-property-item--active {
    box-shadow: 0px 0px 9px #888888;
    padding: 13px;
}

.c-property-item__thumb-holder {
    height: 100%;
    position: relative;
    overflow: hidden;

    @media all and (min-width: $bp-med) {
        height: 145px;
    }

    img {
        vertical-align: middle;
        width: 100%;
    }
}

.c-property-item__small-thumbs {
    margin: $pad-quarter 0 0;
    position: relative;
}

.c-property-item__small-thumb {
    width: 32%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
    height: 60px;

    @media all and (min-width: $bp-med) {
        height: 48px;
    }

    img {
        width: 100%;
    }
}

.c-property-item__small-thumb:last-child {
    margin-right: 0;
}

.c-property-item__overview {
    clear: both;
    padding: $pad-half 0 0;

    > p {
        color: $color-primary;
        font-size: $font-size-small-2;
        font-weight: bold;
        margin: 0 0 $pad-half;
    }
}

.c-property-item__info {
    display: flex;

    > div {
        align-items: center;
        color: $color-gray-73;
        display: flex;
        margin: $pad-half $pad-and-half $pad-half 0;

        .fa {
            margin: 0 $pad-quarter 0 0;
        }

        .fa:before {
            color: $color-gray-35;
        }
    }
}

.c-property-item__description {
    font-size: $font-size-small-2;
}