/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Stacked form
 */
.c-form--stacked-centre {
  text-align: center;

  .c-form__split {
	align-items: center;
	display: flex;

	.c-field {
	  width: 42%;
	}
  }

  .c-field {
	margin: 0 auto 1rem;
	width: 92%;

	select {
	  width: 100%;
	}
  }

  .c-combined-field {
	margin: 0 auto 1rem;
	width: 92%;

	select {
	  width: 100%;
	}
  }
}

/**
 * Search form
 */
.c-search-form {
	display: none;

	&--is-active {
		display: block;
	    position: absolute;
		top: 67px;
		right: 2px;
		width: 100%;
		padding: 1em;
		box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.2);
		background: $color-white;
		z-index: 1;
	}

	@media all and (min-width: $bp-small-2) {
		display: block;
	}
}

/**
 * Form Title
 */
.c-form__title {
  font-size: 2rem;
}

/**
 * Search input
 */
.c-search-form__input {
	padding: 0.5rem;
}

/**
 * Stacked form button wrapper
 */
.c-form__actions {
  margin: 1rem 0;
}
