/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$header-contact-info-bp: 780px;

/**
 * Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.header--relative {
  position: relative;
}

.header__contact-info {
  align-items: center;
  display: flex;
  height: 2.6rem;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;

  .fa-mobile,
  .fa-envelope {
	padding: 0 $pad-half 0 0;

	@media all and (max-width: $header-contact-info-bp) {
	  border-right: 1px solid rgba(255, 255, 255, 0.2);
	  padding: 0 ($pad-half + $pad-quarter);
	}
  }

  a {
	color: $color-white;
  }

  a:hover {
	color: $color-gray-15;
  }
}

.header--shrink {

  .header__contact-info {
    height: 0;
  }

  .c-logo {
    max-height: 36px;
  }

  .c-primary-nav {

    &--is-active {
      top: 63px;
    }
  }
}

.header__contact-text {

  @media all and (max-width: $header-contact-info-bp) {
	display: none;
  }
}

.header__phone-info {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 $pad-and-half 0 ($pad * 3);

  @media all and (max-width: $header-contact-info-bp) {
	padding: 0 0 0 $pad-half;
  }
}

.header__contact-icons {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 ($pad * 3) 0 auto;

  @media all and (max-width: $header-contact-info-bp) {
    margin: 0 0 0 auto;
  }
}

.header__contact-icon {
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.20);
  display: flex;
  padding: 0 0.8em;
}

.header__main {
  background-color: $color-white;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.2);
  padding: 0.5em 0;

  @media all and (min-height: $bp-med) {
	  padding: 1em 0;
  }
}

/**
 * Header Controls
 * 1) This container holds the primary nav and search menu
 */
.header__controls {
	margin-left: auto;
	display: flex;
	align-items: center;
	padding-right: 1rem;
}

/**
 * Nav toggle button
 * 1) Styles for the general nav toggle button
 */
.nav-toggle {
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;

	@media all and (min-width: $bp-large-2) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}
