/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$primary-nav-bp: 45em;
$primary-nav-bp-small: 20em;


/**
 * Navigation tag
 */
.c-primary-nav {
  display: block;
  height: auto;
  margin-right: 1rem;
  overflow: auto;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;

  .c-primary-nav__item--wide {
	display: none;
  }

  @media all and (min-width: $primary-nav-bp) {

	.c-primary-nav__item--wide {
	  display: list-item;
	}
  }
}

/**
 * Nav List
 */
.c-primary-nav__list {
  display: flex;
}

/**
 * Nav Links
 */
.c-primary-nav__link {
  display: block;
  font-weight: bold;
  font-size: $font-size-small-2;
  padding: 0.5rem;

  @media all and (min-width: $primary-nav-bp-small) {
    font-size: $font-size-med;
    padding: 1rem;
  }
}
