  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jssor-slider.js"></script>
  <script type="text/javascript" src="/js/fitvids.js"></script>
  <script type="text/javascript" src="/js/responsive-video.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <script type="text/javascript" src="/js/scroll-header.js"></script>
  </body>
</html>
