  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jssor-slider.js"></script>
  <script type="text/javascript" src="/js/fitvids.js"></script>
  <script type="text/javascript" src="/js/responsive-video.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <script type="text/javascript" src="/js/scroll-header.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCti15-oQcLOFpYx8wB6dg1aJQtLFogJk&callback=initMap" async defer></script>
  </body>
</html>
