  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script type="text/javascript" src="http://eatest.energisededge.com/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
  <script type="text/javascript" src="http://eatest.energisededge.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
  <script type="text/javascript" src="http://eatest.energisededge.com/wp-content/themes/AEgThme_Styler_v2.7/viscore/custom/jssor/jssor.slider-21.1.5.mini.js?ver=4.7.1"></script>
  <script type="text/javascript" src="/js/fitvids.js"></script>
  <script type="text/javascript" src="/js/responsive-video.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <script type="text/javascript" src="/js/scroll-header.js"></script>
  </body>
</html>
